<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>DAOProj5-LayedApplication_ServerManagedCoonPool</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <!-- <servlet>
      <servlet-name>result</servlet-name>
      <servlet-class>/result.jsp</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>result</servlet-name>
       <url-pattern>/resulturl</url-pattern>
  </servlet-mapping> -->
</web-app>